<h1 class="main-title">
	<span class="btn glyphicon glyphicon-chevron-left" ng-click="back()"></span> {{ activity.activity_name }}</h1>

<div class="row">
	<div class="col-xs-12">
		<p>{{ activity.description }}</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="calendar">
			<h3 class="date">{{ activity.begin_timestamp | formatDate: 'd MM yy' }}</h3>
			<h2 class="time">{{ activity.begin_timestamp | formatTime }}
			</div>
		</div>
		<div class="col-sm-6">
			<div class="calendar">
				<h3 class="date">{{ activity.end_timestamp | formatDate: 'd MM yy' }}</h3>
				<h2 class="time">{{ activity.end_timestamp | formatTime }}
				</div>
			</div>
		</div>

		<div class="row specs-data">
			<div class="col-xs-12 col-sm-4">
				<h1>
					<span class="glyphicon glyphicon-road"></span>&nbsp;
					<span>{{ activity.distance | mToKm }} km</span>
				</h1>
			</div>
			<div class="col-xs-12 col-sm-4">
				<h1>
					<span class="glyphicon glyphicon-heart"></span>&nbsp;
					<span>{{ activity.average_hr }} bpm</span>
				</h1>
			</div>
			<div class="col-xs-12 col-sm-4">
				<h1>
					<span class="glyphicon glyphicon-fire"></span>&nbsp;
					<span>{{ Math.round(activity.calories / Math.pow(10, 13)) }} cal</span>
				</h1>
			</div>
		</div>