<h1 class="main-title">Activities</h1>

<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" ng-repeat="activity in activities | startFrom: pageShown * itemPerPage | limitTo: itemPerPage">
    <div class="jumbotron main-items" ng-click="openActivity(activity.activity_id)">
      <div class="container">
        <h4 class="name-activity">{{ activity.activity_name }}</h4>
        <h3>
          <span class="glyphicon glyphicon-road"></span>&nbsp;
          <span>{{ activity.distance | mToKm }} km</span>
        </h3>
        <h3>
          <span class="glyphicon glyphicon-heart"></span>&nbsp;
          <span>{{ activity.average_hr }} bpm</span>
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <nav class="main-pagination">
    <ul class="pagination">
      <li>
        <a href="" ng-click="openPage(0)"aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li ng-repeat="page in pages | startFrom: pageShown | limitTo: 5">
        <a href="" ng-click="openPage(page)">{{ page }}</a>
      </li>
      <li>
        <a href="" ng-click="openPage(pages.length - 5)"aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
